.Item {
  max-width: 1200px;
  margin: 20px auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: repeat(5, 1fr);
  margin: 20px;
}

.Item h3 {
  margin: 0;
}

.mainImage {
  width: 100%;
  object-fit: contain;
  grid-row: 1 / span 5;
}

.text {
  margin-right: 20px;
}

.link {
  font-weight: bold;
}

.link:hover {
  color: cornflowerblue;
  cursor: pointer;
  text-decoration: underline;
}