.Item {
  max-width: 1200px;
  margin: 20px auto;
}

.Item .grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-auto-rows: auto;
  row-gap: 20px;
  column-gap: 20px;
  margin: 20px;
}

.mainImage {
  width: 100%;
  object-fit: contain;
}

.text {
  margin-right: 20px;
}

.link {
  font-weight: bold;
}

.link:hover {
  color: #00bbff;
  cursor: pointer;
  text-decoration: underline;
}

.Item .active {
  background-color: #00bbff;
  color: white;
}