.Basket {
  max-width: 1200px;
  margin: 20px auto;
}

.basket-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  /* row-gap: 20px;
  column-gap: 20px;
  margin: 20px; */
}
