.CheckOut {
    max-width: 800px;
    margin: 20px auto;
  }

form {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

input {
    height: 30px;
}

.formSpan {
    grid-column: 1 / span 2;
  }