.Home {
  max-width: 1200px;
  margin: 20px auto;
}

.Home H2 {
  color: #00bbff;
  font-style: italic;
}

.Home .grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-auto-rows: auto;
  row-gap: 20px;
  column-gap: 20px;
  margin: 20px;
}

.Home IMG {
  width: 100%;
  object-fit: contain;
}